main {
  padding-top: 2rem; 
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.package  {
  padding: 2rem; 
  margin: 1rem 0;
  width: 80%;
  border: 3px solid #0e4f1f;
  border-left: none;
  position: relative;
  overflow: hidden;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgb(0);
  border-color: #ff5454;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.5rem;
  color: white;
  background: #ff5454;
  font-size: 0.8rem;
  transform: rotate(45deg) translateX(3.5rem) translateY(-1rem);
  width: 12rem;
  text-align: center;
}

.package__subtitle {
  color: #979797;
  margin: 1rem 0;
}

.package__description {
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #0e4f1f;
  color: #0e4f1f;
  background: white;
  font-family: Roboto;
  font-weight: 900;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-left: 3px solid #0e4f1f;
  border-right: none;
}

#free:hover,
#free:active {
  border-left: 3px solid #ff5454;
}
#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

@media(min-width: 40rem) {
  main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(min-width: 1500px) {
  .package {
    border-left: 4px solid #0e4f1f;
  }

  #free {
    border-right: 4px solid #0e4f1f;
  }

}
